html {
  --backgroundBlack: #1e1e1e;
  --backgroundYellow: #f7e94b;
  --fontYellow: #f4c700;
  background-color: var(--backgroundBlack);
  scroll-behavior: smooth;
  overflow-x: hidden;
  user-select: none;
  -webkit-user-select: none;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(backgroundBlack);
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 40px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.Navigate {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Navigate :hover {
  color: var(--fontYellow);
}


.NavigateFont {
  text-decoration: none;
  margin-top: 10px;
  font-size: 20px;
  color: white;
  font-family: 'Rubik', sans-serif;
  border-style: none;
  background-color: var(--backgroundBlack);
}

.WebstackStart {
  height: 100vh;
  width: 100%;
  background-color: var(--backgroundBlack);
  display: block;

}

.WebstackStartSchrift {
  overflow: hidden;
  white-space: nowrap;
  animation:
    typing 1s steps(9, end) forwards;
  font-family: 'Rubik', sans-serif;
  font-size: 110px;
  --width: 1122.5px;
  --height: 261px;
  height: 100vh;
  display: block;
  position: absolute;
  margin-top: calc(((1089 - var(--height)) / 2) - 36);
  margin-left: calc((100vw - var(--width)) / 2);
  margin-right: calc((100vw - var(--width)) / 2);
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

.WebstackSpan {
  color: white;
}

.WebstackH1 {
  color: var(--fontYellow);
}

.LoginPage {
  height: 100vh;
  width: 100%;
  background-color: var(--backgroundYellow);
  font-family: 'Rubik', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: top;
  margin-top: 25px;
}

#LoginWindow {
  aspect-ratio: 1 / 1.4;
  border-radius: 14%;
  background-color: #282c34;
}

@media only screen and (max-width: 811px) {
  #LoginWindow {
    width: 90vw;
    max-width: 550px;
    max-height: calc(100vh - 20px);
  }

  .FormStyle button {
    width: 60vw;
    max-width: 280px;
    aspect-ratio: 7 / 1;
    font-size: 5vw;
  }

  .FormStyle input {
    font-size: 4vw;
    width: 50vw;
    border-width: 0.25vh;
  }
}

@media only screen and (min-width: 811px) and (max-width: 1450px) {
  #LoginWindow {
    width: 75vw;
    max-width: 550px;
    max-height: calc(100vh - 20px);
  }

  .FormStyle button {
    width: 35vw;
    aspect-ratio: 7 / 1;
    font-size: 3vw;
  }

  .FormStyle input {
    font-size: 3vw;
    width: 33vw;
    border-width: 0.25vh;
  }
}

@media only screen and (min-width: 1450px) {
  #LoginWindow {
    width: 22vw;
    max-height: calc(100vh - 20px);
  }

  .FormStyle button {
    width: 12vw;
    aspect-ratio: 6 / 1;
    border-width: 0.15vw;
    font-size: 1vw;
  }

  .FormStyle input {
    font-size: 1.6vh;
    width: 15.5vw;
    border-width: 0.25vh;
  }
}

.LoginTabs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 60px;
}

.tab button {
  font-size: 100%;
  background-color: #282c34;
  color: white;
  font-family: 'Rubik', sans-serif;
  border: none;
  cursor: pointer;
  border-color: #282c34;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.tab button.active {
  border-color: #282c34;
  border-bottom-color: var(--fontYellow);
  border-style: solid;
}

.tabcontent {
  animation: fadeEffect 1s;
}


.marginleft30 {
  margin-left: 30px;
}


.FormStyle input {
  aspect-ratio: 15 / 1;
  background-color: #282c34;
  margin-top: 5px;
  border-style: solid;
  border-color: #282c34;
  border-bottom-color: var(--fontYellow);
  margin-top: 20px;
  outline-style: none;
}

.FormStyle input.active {
  border-bottom-color: var(--fontYellow);
}

.FormStyle button {
  margin-top: 100px;
  background-color: #697575;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

#ButtonBasicHover:hover {
  border-color: #f4c700;
  transition: 0.5s;
}

.FormularButton {
  display: flex;
  justify-content: center;
}

.ButtonHoverEffect {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  touch-action: manipulation;
  font-style: 'Rubik', sans-serif;
}

.ButtonHoverEffect span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.ButtonHoverEffect span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(250%) translateX(-50%);
  line-height: 32px;
}

.ButtonHoverEffect:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f4c700;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.ButtonHoverEffect:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.ButtonHoverEffect:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

#MarketingPage {
  margin-top: 0%;
  height: 500vh;
  width: 100%;
  /* https://www.joshwcomeau.com/gradient-generator?colors=1e1e1e|f7e94b&angle=115&colorMode=hsl&precision=20&easingCurve=0.603448275862069
  |0.9398572198275862|0.978448275862069|0.3277882543103448
  */
  background-image: linear-gradient(115deg,
      hsl(0deg 0% 12%) 0%,
      hsl(60deg 4% 14%) 22%,
      hsl(60deg 8% 17%) 33%,
      hsl(55deg 13% 19%) 42%,
      hsl(54deg 18% 22%) 49%,
      hsl(53deg 22% 24%) 55%,
      hsl(55deg 26% 26%) 61%,
      hsl(55deg 31% 29%) 66%,
      hsl(55deg 35% 31%) 70%,
      hsl(55deg 40% 34%) 74%,
      hsl(55deg 44% 36%) 78%,
      hsl(55deg 48% 39%) 81%,
      hsl(55deg 52% 41%) 84%,
      hsl(55deg 57% 44%) 87%,
      hsl(55deg 61% 46%) 90%,
      hsl(55deg 65% 48%) 92%,
      hsl(55deg 70% 51%) 94%,
      hsl(55deg 74% 53%) 96%,
      hsl(55deg 79% 56%) 97%,
      hsl(55deg 83% 58%) 99%,
      hsl(55deg 87% 61%) 99%,
      hsl(55deg 91% 63%) 100%);
}

.OnePage {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 100vh;
  width: 100vw;
}

#Marketing1 {
  color: #19d380;
  height: 600px;
  width: 100vw;
  margin-top: calc((100vh - 600px) / 2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}


#MarketingText1 {
  font-size: 5vw;
  font-family: 'Rubik', sans-serif;

  /*Gardient*/
  color: #19d380;
  background-image: -webkit-linear-gradient(0deg, #19d380, #f7e94b);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.nogardient {
  font-family: 'Rubik', sans-serif;
  color: white;
  text-fill-color: white;
  -webkit-text-fill-color: white;
}

#MarketingExample1 {
  height: 60.44vh;
  width: 44.44vh;
  background-color: #5395a7;
  border-radius: 10%;
  border-width: 0.2vw;
  ;
  border-style: solid;

  /*Glow effect*/
  -webkit-box-shadow: 0px 0px 2vw 0px rgba(31, 211, 127, 0.9);
  -moz-box-shadow: 0px 0px 2vw 0px rgba(31, 211, 127, 0.9);
  box-shadow: 0px 0px 2vw 0px rgba(31, 211, 127, 0.9);
}


#Marketing2 {
  color: #19d380;
  height: 600px;
  width: 100vw;
  margin-top: calc((100vh - 600px) / 2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

#MarketingText2 {
  font-size: 5vw;
  font-family: 'Rubik', sans-serif;

  /*Gardient*/
  color: #19d380;
  background-image: -webkit-linear-gradient(0deg, #19d380, #f7e94b);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

#MarketingExample2 {
  height: 60.44vh;
  width: 44.44vh;
  background-color: #5395a7;
  border-radius: 10%;
  border-width: 0.2vw;
  border-style: solid;
  border-color: #19d380;

  /*Glow effect*/
  -webkit-box-shadow: 0px 0px 2vw 0px rgba(31, 211, 127, 0.9);
  -moz-box-shadow: 0px 0px 2vw 0px rgba(31, 211, 127, 0.9);
  box-shadow: 0px 0px 2vw 0px rgba(31, 211, 127, 0.9);
}

.MarketingExampleInnerStyle {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.MarketingExampleInnerStyle :last-child{
  margin-bottom: 2.7vh;
}

.MarketingExampleInnerStyle i {
  margin-right: 0.5vw;
}

.MarketingExampleInnerStyle button {
  width: 20vw;
  aspect-ratio: 6 / 0.85;
  margin: 0.8vh 0;
  background-color: #9bfff4;
  border: none;
  border-radius: 20px;
  font-size: 1.5vw;
}

.MarketingExampleInnerStyle p {
  color: black;
  font-size: 4vh;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.MarketingExampleInnerStyle img {
  margin-top: 2vh;
  width: 15vh;
  border: #396774;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
}

footer {
  margin-top: 0%;
  background-image: url("waves.svg");
  width: 100vw;
  height: 230px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
}

footer ul {
  list-style-type: none;
}

footer ul li a {
  text-decoration: none;
  color: white;
}

footer ul li {
  text-decoration: none;
  margin: 0.8vh 0;
}

footer ul li:first-child{
  font-size: 22px;
  margin-bottom: 1.5vh;
  font-weight: bold;
}

.slide-right {
  -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-left {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-6-26 22:13:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}


@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}